#pager{
	line-height:22px;
	font-size:12px;
	padding-bottom:50px;}
#pager ul{margin-top:6px}
#pager ul li{
	text-align:center;
	float:left;
	list-style:none;
	display:inline-block;
	margin-left:5px;

	}
#pager ul li a{
	display:inline-block;
	height:14px;
		border:#ccc 1px solid;
		cursor:pointer;
		text-decoration: none;
			padding-left:2px;
			padding-right:2px;
	}
#pager ul li a:hover{
	color:#fff;
	background:#2b529c;
}

#pager .selectedPage{
	color:#fff;
	background:#2b529c;
}