

.bottom_nav{
margin:0px;
color:#fff;
}
.bottom_nav  li{    /*顶端--菜单样式*/
	border-right:1px solid #FFF;
	text-align:center;
	float:left;
	width:110px;
	height:60px;
	list-style:none;
	color:#fff;
}

.bottom_nav  a{    /*顶端--菜单样式*/
	color:#fff;
}
.bottom_nav  li:hover{
	cursor:pointer;
	color:#FFF;
}
.bottom_nav  li div{
	margin-top:20px;
}


/*  */
*{ padding:0px; margin:0px;}
*html{background-image:url(about:blank);background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
#tbox{width:47px; height:73px; float:right; position:fixed;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:10px;
}/*解决IE6下不兼容 position:fixed 的问题*/
#jianyi{ width:47px; height:25px; background:url(../images/suggest.png) no-repeat; position:absolute; bottom:0px; cursor:pointer}
#gotop{ width:47px; height:47px; background:url(../images/top01.png) no-repeat; position:absolute; top:0px; display:none; cursor:pointer} 
#jianyi:hover{ background:url(../images/suggest.png) no-repeat 0px -26px;}
#gotop:hover{ background:url(../images/top02.png) no-repeat;}


